* {
    margin: 0;
    padding: 0;
}
body {
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow-x: hidden;*/
    font-family: 'Cinzel', serif;
    position: relative;
    overflow-x: hidden;
}
li:hover {
    cursor: pointer;
}
.navbarContainer > ul li:hover {
    background-color: white;
    color: black;
}

/*//////////////////////////////////////////////////////////////   Landing Page*/
.homepage_bg {
    background-image: url('../images/homepage_bg_2.jpeg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    filter: grayscale(0%);
    position: relative;
}
.homepage_bg > .filter {
    position: relative;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*background-color: rgba(0,0,0, .4);*/
    /*border-radius: 15px;*/
    color: white;
}
.titleFilter {
    display: inline-block;
    position: relative;
    left: 64%;
    transform: translate(-50%,-50%);
    top: 47%;
    font-size: 1.6rem;
    width: 30%;
    text-align: center;
    color: #E5F3F9;
}

.titleFilter > h1 {
    border-bottom: 1px solid #E5F3F9;
}
.navbarContainer > ul {
    list-style-type: none;
    display: inline-block;
}
.navbarContainer > ul li {
    position: relative;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    transition: .4s;
}
.navbarContainer {
    position: relative;
    top: 10px;
}

.attrContainer {
    position: absolute;
    bottom: 18%;
    left: 15%;
    font-size: 1.65rem;
    width: 20%;
}
.attributeH3 {
    margin-left: 25%;
    width: 130%;
}
/*//////////////////////////////////////////////////   About page*/
.about {
    /*height: 100vh;*/
    width: 100vw;
}
span.changingWord {
    font-size: 120%;
}
.about > h1 {
    width: 15%;
    margin: 40px auto 0 auto;
    text-align: center;
    border-bottom: 1px solid black;
}
.about section {
    width: 100%;
    height: 80%;
}
.leftColumn {
    display: inline-block;
    height: 119%;
}
.leftColumn {
    width: 65%;
    vertical-align: top;
}
.rightColumn {
    display: inline-block;
    width: 35%;
}
.profilePhoto {
    width: 44%;
    height: 60vh;
    margin: auto;
    background-image: url('../images/jessieProfile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 20%;
    margin-top: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profileContent {
    width: 75%;
    margin: 20px auto;
}
.tunedInContainer > h3 {
    text-align: center;
}
.tunedInImg {
    /* float: left; */
    width: 20%;
    vertical-align: middle;
    position: relative;
    /* top: 50%; */
}
.tunedInImgCaption {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    position: relative;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}
/*///////////////////////////////////////////////// portfolio section*/
.portfolioSection > h1 {
    /* margin-top: 5%; */
    text-align: center;
    padding-top: 35px;
    text-decoration: underline;
}
.portfolioSection {
    /*background-color: rgba(0,0,0, .5);*/
    margin-top: 5%;
}
.portfolioContainer {
    border: 1px solid black;
    width: 33%;
    height: 52vh;
    display: inline-block;
    margin: 10px 20px;
}
.coverContainer {
    height: 59%;
    text-align: center;
}
.btnContainer {
    position: relative;
    top: -40%;
    transform: translateY(-50%);
    visibility: hidden;
}
.btnContainer button {
    padding: 10px;
    border: 1px solid black;
    background-color: transparent;
    transition: .3s;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    display: block;
    min-width: 120px;
}
.btnContainer button:hover {
    background-color: orange;
    color: white;
    border-radius: 10px;
}
/*button.aboutBtn {*/
    /*margin-right: 50%;*/
/*}*/

.menuContainer img {
    position: relative;
    float: right;
    padding: 5px;
    background-color: rgba(255,255,255, .2);
    border-radius: 10px;
    border: 1px solid black;
}
.menuContainer {
    z-index: 1000;
    left: 97%;
    transform: translateX(-100%);
    top: 4%;
    position: fixed;
}
.menuContainer:hover {
    cursor: pointer;
}

.menuContainer:hover .menuDiv {
    height: 400px;
}
.menuDiv {
    width: 450%;
    height: 0;
    background-color: rgba(0,0,0, .7);
    position: absolute;
    transform: translateX(-100%);
    transition: .3s;
    overflow: hidden;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.menuDiv ul li:hover {
    background-color: black;
    /* font-size: 120%; */
}
.menuDiv ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.menuDiv ul li {
    display: block;
    height: 20%;
    text-align: center;
    border-bottom: 1px solid black;
}
li span {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.portfolioContainer:hover > .btnContainer {
    visibility: visible;
}

.portfolioContainer:hover > .btnContainer > .aboutBtn {
    margin-right: 50%;
}
.portfolioFilter {
    position: relative;
    height: 100%;
    width: 0;
    background-color: rgba(0,0,0, .6);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    transition: .2s;
}
.btnContainer {
    position: relative;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    visibility: visible;
}
.btnContainer button {
    padding: 10px;
    border: 1px solid orange;
    background-color: transparent;
    transition: .3s;
    position: absolute;
    left: 50%;
    top: 87%;
    transform: translate(-50%,-50%);
    color: orange;
}
.portfolioContainer:hover > .portfolioFilter {
    width: 100%;
}
.portfolioContainer:hover > .portfolioFilter > .btnContainer > .aboutBtn {
    left: 20%;
}
.portfolioContainer:hover > .portfolioFilter > .btnContainer .viewBtn {
    /*left: 80%;*/
}
.coverTextContainer {
    width: 55%;
    height: 70%;
    top: 5%;
    float: right;
    position: relative;
    font-family: helvetica;
    font-size: 80%;
    color: white;
    overflow: hidden;
}
.coverImgContainer {
    display: inline-block;
    width: 40%;
    height: 70%;
    position: relative;
    float: left;
    top: 5%;
    left: 5%;
}
.coverTextContainer > div {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 85%;
    left: 50%;
}
.noCoverTextContainer > div {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    left: 50%;
}
.noCoverTextContainer {
    color: lightblue;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 60%;
    top: 5%;
    font-size: 93%;
    font-family: helvetica;
    overflow: hidden;
}
.btnContainer button.viewBtn.noCoverPortfolioBtn {
    min-width: 140px;
}
.coverImgContainer img {
    width: 100%;
}
.container4, .container5 {
    background-size: cover;
}
.container4 {
    background-image: url('../images/portfolio_cover_5.png');
}
.container5 {
    background-image: url('../images/portfolio_cover_6.jpg');
}

/*///////////////////////////////////////////////////////////////////////       Resume Section*/
.resumeSection  h1 {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}
.educationSection {
    width: 40%;
    vertical-align: top;
}
.workSection, .educationSection {
    display: inline-block;
}
.workSection {
    width: 60%;
}
.workSection > h2, .educationSection > h2 {
    text-align: center;
}
.leftSnippet {
    width: 25%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}
.leftSnippet, .mainContentSnippet {
    display: inline-block;
}
.workNode {
    background-color: WHITE;
    border-bottom: 1px solid black;
    height: 30vh;
}
.mainContentSnippet {
    width: 73%;
    position: relative;
    vertical-align: top;
    top: 50%;
    transform: translateY(-50%);
}
.mainContentSnippet > ul {
    width: 90%;
    margin: 10px auto 0;
}
.workTitle {
    text-align: center;
    font-size: 120%;
    margin-top: 3%;
    font-weight: 900;
}
.educationSection > img {
    width: 45%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.educationSection h4 {
    text-align: center;
}
.educationSection ul {
    width: 94%;
    margin: 10px auto;
}
.workRole {
    margin-bottom: 15px;
}
.skillsSection {
    position: relative;
    top: 7vh;
}
.skillsSection > h1 {
    text-align: center;
    text-decoration: underline;
}
.skillIconContainer {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}
.skillIconContainer > img {
    margin: 12px;
}
/*///////////////////////////////////////////////////        Contact Section*/
.contactSection {
    margin-top: 100px;
}
.contactSection > h1 {
    text-align: center;
    font-size: 275%;
}
.letsChatCircle {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid darkturquoise;
    position: relative;
    text-align: center;
    margin: auto;
}
.letsChatCircle > h2 {
    position: relative;
    top: 10%;
    border-bottom: 1px solid turquoise;
    width: 50%;
    margin: auto;
}
.socialMediaWrapper {
    width: 80%;
    top: 21%;
    position: relative;
    margin: auto;
}
.socialMediaWrapper img {
    width: 75px;
    margin: 5px;
}
.contactRight {
    position: relative;
    margin-top: 30px;
}
.contactLeft, .contactRight {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    /* height: 100%; */
}
.innerLeft input {
    width: 50%;
    height: 5vh;
    margin-bottom: 15px;
    border: 1px solid lightblue;
}
textarea.messageInput {
    width: 80%;
    height: 20vh;
}
button.contactSubmitBtn {
    position: relative;
    left: 80%;
    transform: translateX(-93%);
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
}

/*Mobile View*/
@media only screen
and (min-device-width: 315px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .titleFilter {
        display: inline-block;
        position: relative;
        left: 0;
        transform: none;
        top: 47%;
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
        color: #E5F3F9;
    }
    .attrContainer {
        display: none;
    }
    .about > h1 {
        width: 100%;
        text-align: center;
         border-bottom: none;
        text-decoration: underline;
    }
    .leftColumn {
        width: 100%;
    }
    .profilePhoto {
        width: 90%;
    }
    .profileContent {
        width: 90%;
    }
    .rightColumn {
        display: none;
    }
    .portfolioContainer {
        font-size: initial;
        width: 99%;
        margin: 0;
    }
    .coverContainer {
        font-size: 0;
    }
    .portfolioContainer > .portfolioFilter {
        width: 100%;
    }
    .coverImgContainer {
        display: none;
    }
    .coverTextContainer {
        width: 100%;
        float: none;
    }

}