* {
    margin: 0;
    padding: 0;
}
body {
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow-x: hidden;*/
    font-family: 'Cinzel', serif;
    position: relative;
    overflow-x: hidden;
}
li:hover {
    cursor: pointer;
}
.navbarContainer > ul li:hover {
    background-color: white;
    color: black;
}

/*//////////////////////////////////////////////////////////////   Landing Page*/
.homepage_bg {
    background-image: url('../images/homepage_bg_2.jpeg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    filter: grayscale(0%);
    position: relative;
}
.homepage_bg > .filter {
    position: relative;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*background-color: rgba(0,0,0, .4);*/
    /*border-radius: 15px;*/
    color: white;
}
.titleFilter {
    display: inline-block;
    position: relative;
    left: 64%;
    transform: translate(-50%,-50%);
    top: 47%;
    font-size: 1.6rem;
    width: 30%;
    text-align: center;
    color: #E5F3F9;
}

.titleFilter > h1 {
    border-bottom: 1px solid #E5F3F9;
}
.navbarContainer > ul {
    list-style-type: none;
    display: inline-block;
}
.navbarContainer > ul li {
    position: relative;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    transition: .4s;
}
.navbarContainer {
    position: relative;
    top: 10px;
}

.attrContainer {
    position: absolute;
    bottom: 18%;
    left: 15%;
    font-size: 1.65rem;
    width: 20%;
}
.attributeH3 {
    margin-left: 25%;
    width: 130%;
}
/*//////////////////////////////////////////////////   About page*/
.about {
    height: 100vh;
    width: 100vw;
}
span.changingWord {
    font-size: 120%;
}
.about > h1 {
    width: 15%;
    margin: 40px auto 0 auto;
    text-align: center;
    border-bottom: 1px solid black;
}
.about section {
    width: 100%;
    height: 80%;
}
.leftColumn {
    display: inline-block;
    height: 119%;
}
.leftColumn {
    width: 65%;
    vertical-align: top;
}
.rightColumn {
    display: inline-block;
    width: 35%;
}
.profilePhoto {
    width: 44%;
    height: 65%;
    margin: auto;
    background-image: url('../images/jessieProfile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 20%;
    margin-top: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profileContent {
    width: 75%;
    margin: 20px auto;
}
.tunedInContainer > h3 {
    text-align: center;
}
.tunedInImg {
    /* float: left; */
    width: 20%;
    vertical-align: middle;
    position: relative;
    /* top: 50%; */
}
.tunedInImgCaption {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    position: relative;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}
/*///////////////////////////////////////////////// portfolio section*/
.portfolioSection > h1 {
    /* margin-top: 5%; */
    text-align: center;
    padding-top: 35px;
    text-decoration: underline;
}
.portfolioSection {
    /*background-color: rgba(0,0,0, .5);*/
    margin-top: 5%;
    height: 200vh;
}
.portfolioContainer {
    border: 1px solid black;
    width: 33%;
    height: 50%;
    display: inline-block;
    margin: 10px 20px;
}
.coverContainer {
    height: 59%;
    text-align: center;
}
.btnContainer {
    position: relative;
    top: -40%;
    transform: translateY(-50%);
    visibility: hidden;
}
.btnContainer button {
    padding: 10px;
    border: 1px solid black;
    background-color: transparent;
    transition: .3s;
}
.btnContainer button:hover {
    background-color: white;
}
/*button.aboutBtn {*/
    /*margin-right: 50%;*/
/*}*/
.portfolioContainer {
    border: 1px solid black;
    width: 33%;
    height: 50%;
    display: inline-block;
    margin: 10px 20px;
    background-color: lightslategray;
}
.menuContainer img {
    position: relative;
    float: right;
    padding: 5px;
    background-color: rgba(255,255,255, .2);
    border-radius: 10px;
    border: 1px solid black;
}
.menuContainer {
    z-index: 1000;
    left: 97%;
    transform: translateX(-100%);
    top: 4%;
    position: fixed;
}
.menuContainer:hover {
    cursor: pointer;
}

.menuContainer:hover .menuDiv {
    height: 400px;
}
.menuDiv {
    width: 450%;
    height: 0;
    background-color: rgba(0,0,0, .7);
    position: absolute;
    transform: translateX(-100%);
    transition: .3s;
    overflow: hidden;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.menuDiv ul li:hover {
    background-color: black;
    /* font-size: 120%; */
}
.menuDiv ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.menuDiv ul li {
    display: block;
    height: 20%;
    text-align: center;
    border-bottom: 1px solid black;
}
li span {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.portfolioContainer:hover > .btnContainer {
    visibility: visible;
}

.portfolioContainer:hover > .btnContainer > .aboutBtn {
    margin-right: 50%;
}
.portfolioFilter {
    position: relative;
    height: 90%;
    width: 0%;
    background-color: rgba(0,0,0, .6);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    transition: .3s;
}
.btnContainer {
    position: relative;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    visibility: visible;
}
.btnContainer button {
    padding: 10px;
    border: 1px solid black;
    background-color: transparent;
    transition: .3s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.portfolioContainer:hover > .portfolioFilter {
    width: 90%;
}
.portfolioContainer:hover > .portfolioFilter > .btnContainer > .aboutBtn {
    left: 20%;
}
.portfolioContainer:hover > .portfolioFilter > .btnContainer .viewBtn {
    left: 80%;
}
/*Mobile View*/
@media only screen
and (min-device-width: 315px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .titleFilter {
        display: inline-block;
        position: relative;
        left: 0;
        transform: none;
        top: 47%;
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
        color: #E5F3F9;
    }
}